header {
    display: flex;
    background-color: #ffffff;
    height: 35px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #b6b1b1;
}
.myntra_home {
    height: 45px;
}
.logo_container {
    margin-left: 20px;
}
.footer_container {
    padding: 25px 0px 40px 0px;
    background: #FAFBFC;
    display: flex;
    justify-content: space-evenly;
}

.footer_column {
    display: flex;
    flex-direction: column;
}

.footer_column h3 {
    color: #282c3f;
    font-size: 14px;
    margin-bottom: 25px;
}

.footer_column a {
    color: #696b79;
    font-size: 15px;
    text-decoration: none;
    padding-bottom: 5px;
}

.copyright {
    color: #94969f;
    text-align: center;
    padding: 5px;
}


/* .items-container{
    width: 80%;
    margin: 40px 10%;
    /* margin-top: 5%; */
    
  /* } */
  
  /* .item-container{
      width: 250px;
      margin: 10px;
  }  */

  .empty_img{
       margin-left: 7%;
  }

  .empty-btn{
    margin-left: 40%;
    background-color: transparent;
    border-color: rgb(255, 63, 108);
    /* border:rgb(255, 63, 108); */
    border-width: 1px;
    border-radius: 2px;
    color: rgb(255, 63, 108);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 4px;
    padding-right: 4px;
    width: 17%;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    
  }